.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: blue;
    color: white;
   
}
.header a{
    text-decoration: none;
    margin-right: 40px;
    color: white;
}
.name{
    margin-left: 30px;
}